anthropic
python-dotenv
pydantic
pydantic-settings

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-dateutil

openai
openai-agents
asyncpg
psycopg2
fastapi
uvicorn
logfire
logfire[fastapi]
supabase


